html,
body {
  height: 100%;
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 100;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 20px;
  padding-right: 32px !important;
  padding-left: 32px !important;
  border: 3px solid transparent;
  border-right-color: #26436f;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
  background-color: #999999;
}

hr {
  /*border: 0px;*/
  clear: both;
  display: block;
  width: 96%;
  background-color: lightgray;
  height: 0.5px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-width: 0px;
}

.select2-container {
  width: 100% !important;
  min-width: 200px;
  max-width: 300px;
  display: inline-block;
  text-align-last: left;
}
.select2-search--dropdown .select2-search__field {
  width: 98%;
}

div#menu_selectCountry {
  width: 100%;
}

/* DIABLE ALL SVG TEXT */
svg text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
svg text::selection {
  background: none;
}
/* MAP */

#svg-map {
  border: 0px solid black;
  padding: 0px;
}

#div-map {
  align-content: center;
}

.btn {
  fill: rgb(243, 243, 243);
  stroke: black;
  stroke-width: 0.8;
}

.btn:hover {
  fill: rgb(202, 202, 202);
}

.background {
  fill: #e4e1d43b;
}

.background_globe {
  fill: #e4e1d4;
  stroke: black;
  stroke-width: 0.3;
}

.country {
  stroke: #000000;
  stroke-width: 0.5px;
  fill: #999999;
}

.highlighted_country {
  stroke: #00ff00;
  stroke: #ffffff;
}

.selected_country {
  stroke: red;
}

.grat_2 {
  fill: none;
  stroke: #777;
  stroke-width: 0.3px;
  stroke-opacity: 1;
}

.col_wrapper {
  float: left;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.row_wrapper {
  float: left;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.handle:focus {
  stroke: #777;
  fill: #ececec;
}

.hover {
  font-size: 30px;
}

.not-hover {
  font-size: 0px;
}

.col-sm-2 {
  font-size: 30px;
}

.label {
  font-size: 22px;
  padding-top: 10px;
  padding-right: 10px;
}

.tick text {
  opacity: 1;
  font-size: 15px;
}
#dropDownMenu {
  border-bottom: 1px solid lightgray;
  padding: 0px;
}

.tooltip-map {
  position: absolute;
  width: auto;
  height: auto;
  padding: 5px;
  text-align: center;
  font-size: 11px;
  font-family: sans-serif;
  border: 1px solid gray;
  background: white;
  border-radius: 8px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  display: none;
  opacity: 0.95;
}

.tooltip-name {
  font-size: 20px;
  font-weight: bold;
}

.tooltip-anomaly {
  font-size: 16px;
  text-align: center;
}

text#label-legend {
  font-size: 13px;
  text-align: center;
  font-weight: bold;
}

/* styles to manage tranision display*/

.shown_level {
  display: block;
}

.hidden_level {
  display: none;
  /*transition: opacity 1s ease;*/
}

.level-transition {
  transition: opacity 1s ease;
}

/* TAB MENU LINECHART */

/*--------------------------------- TAB MENU STYLE -------------------------------------*/

#tab_menu {
  float: center;
  width: 900px;
  height: 500px;
}

.tab {
  
  overflow: hidden;
  margin-left: 6%;
}

.chart-container {
  width: 950px;
  height: auto;
  padding: 50px 50px 50px 50px;
  margin: auto;
  margin-top: 3%;
  
}
.range-years-buttons-container {
  margin-left: 11%;
  margin-top: 8%;
}

.range-years-buttons-container input {
  visibility: hidden;
}

.range-years-buttons-container input[type="radio"] + label {
  display: inline-block;
  width: 110px;
  height: auto;
  border-radius: 10px;
  padding: 15px;
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
}

.range-years-buttons-container input[type="radio"]:checked + label {
  background-color: rgba(192, 192, 192, 0.8);
  color: black;
}

.range-years-buttons-container input[type="radio"] + label:hover {
  background-color: rgba(192, 192, 192, 0.8);
  color: black;
}

.title-chart {
  /*margin-left: 30%;*/
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  color: #0070a1;
}

#title-table {
  color: #0070a1;
}

h3 {
  color: #0070a1;
  text-align: center;
}

/*------------------- LINECHART STYLE -------------------------------*/

.graphics .line_chart_annual {
  stroke-width: 1px;
  stroke: steelblue;
  fill: none;
}

.graphics .line_chart_range_years {
  stroke-width: 2px;
  stroke: red;
  fill: none;
}

.graphics .baselines {
  stroke-width: 1.5px;
  stroke: black;
  stroke-dasharray: 4px;
  fill: none;
}

#linechart .tooltip-map {
  text-align: left;
}
#linechart {
  padding: 50px;
  width: 900px;
}

.uncertainty {
  fill: lightgray;
  stroke: none;
}

/*#stripechart{

 margin-left: 4%;
 margin-top: 3%;
 height: 120px;

}*/

/* -----------------------------END CHART STYLE--------------------------------------*/

/*Dropdown menu -> to remove at the end, only for testing*/

/*--------------- LEGEND STYLE -------------------------------------------*/

.legend {
  padding: 3px;
  fill: white;
}

.legend-square {
  stroke: #000;
  stroke-width: 1px;
}

text.legend {
  fill: #000;
  font-size: 11px;

  font-family: sans-serif;
}

.legend .line_chart_annual {
  stroke-width: 2px;
}

.legend .line_chart_ten_years {
  stroke-width: 3px;
}

.legend .baselines {
  stroke-width: 2px;
}

/* END TAB MENU LINECHART */

/*-----------------------------------START STYLE TABLE-----------------------------------*/

#table_container {
  width: 950px;
  height: auto;
  margin: auto;
}

.mean_rate {
  margin: auto;
  width: 90%;
  height: 55%;
}

.header_table {
  padding: 15px;
  background: #2e4053;
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  text-transform: uppercase;
}

table {
  border-collapse: collapse;
  background: white;
  border-radius: 8px;
  overflow: hidden;
}

.thead_table th {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: large;
}

.tbody_table td {
  padding-top: 21px;
  padding-bottom: 21px;
}

.rows_table {
  font-family: sans-serif;
  transition: background 0.2s ease-in;
  text-align: center;
  color: #2e4053;
}

.tbody_table .rows_table:nth-child(even) {
  background: #f0f3f4;
}

.tbody_table .rows_table:nth-child(odd) {
  background: white;
}

.tbody_table .rows_table:nth-child(odd):hover {
  background: #ffffcc;
}

.tbody_table .rows_table:nth-child(even):hover {
  background: #ffffcc;
}

.selected_border {
  background-color: rgba(0, 0, 0, 1);
}

.start_value_table {
  background: #91aac5;
  color: white;
  font-weight: bold;
}

#table_container h2 {
  /*margin-left: 5%;*/
  text-align: center;
}

.region_cell {
  border: solid #2e4053 2.5px;
  border-top: none;
  border-bottom: none;
  border-left: none;
  font-weight: bold;
  color: #2e4053;
}

/*---------------------------Hottest-Coldest Year style--------------------------------*/

#container-h-c {
  width: 1200px;
  /*padding: 20px;*/
}

.text-legend {
  font-family: sans-serif;
  color: #000;
}

#legend_hot_cold {
  border: solid lightgray 1px;
  border-radius: 10px;
  box-shadow: 0 0 7px #333333;
  margin: auto;
}

.title-legend-h-c {
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
}

.zero-line {
  fill: none;
  stroke: gray;
  stroke-dasharray: 6px;
  stroke-opacity: 40%;
}

/*---------------------------END Coldest Year style--------------------------------*/

/*---------------------------START SEASONAL LINECHART STYLE--------------------------------*/

.line-seasonal-baseline {
  fill: none;
  stroke: black;
}

.seasonal-range-line {
  fill: none;
  stroke: black;
  stroke-dasharray: 6px;
}

.last-years-lines {
  fill: none;
  stroke: red;
}

#tooltip-seasonal-changes {
  text-align: left;
  font-family: sans-serif;
  font-size: 12px;
}

#text-tip-seasonal {
  text-align: center;
  font-weight: bold;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.6;
  shape-rendering: crispEdges;
}
.grid path {
  stroke-width: 0;
}

/*---------------------------END SEASONAL STYLE--------------------------------*/

/*STYLE FINAL HTML*/

.container {
  width: 900px;
  height: auto;
  padding: 2%;
  margin: auto;
  align-items: center;
  align-content: center;
}

#dropdown_tab_years {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20%;
}

* {
  font-family: sans-serif;
}

#container-h-c legend {
  margin-left: 28%;
}

#seasonal_changes_graphic {
  margin-bottom: 10%;
}


#starting-menu{
  width: 100%;
  background-color:#2e4053;
  height: 5%;
 
}



/*Starting Menu*/
ul#menu-elem {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  padding: 0;
  
  height: 100%;
  overflow: hidden;
  margin: 0%;


}

ul#menu-elem li {
  background-color: #2e4053;
  display: block;
  float: left; 
  height: 100%;
}

ul#menu-elem li a {
  color: #fff;
  display: block;
  font-weight: bold;
  line-height: 35px;
  height: 100%;
  margin-top: 4%;
  text-decoration: none;
  width: 100px;

  text-align: center;
}
ul#menu-elem li.active, ul#menu li:hover {
  background-color: #91aac5

}
