svg {
    border: 0px solid black;
    padding: 0px;
  }

/* MAP */



/* END MAP */




/* TAB MENU LINECHART */

#country_t{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
}



#tab_menu{

  float: center;
  width: 900px;
  height: 500px;
  /* border: 1px lightgray solid; */
  margin: auto;

}


.tab {
  
  overflow: hidden;

}

/* Style the buttons inside the tab */
.tablinks {
  
  background-color: inherit;
  float: left;
  border: 1px solid lightgray;
  border-bottom: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  font-family: sans-serif;
  font-weight: bold;

}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  border: 1px solid #ccc;
  width: 900;
}

.graphics{

  width: 900px;
  height: 500px;
  margin-top: 12px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
  

}

.graphics .line_chart_annual{

  stroke-width: 1px;
  stroke: steelblue;
  fill: none;

}

.graphics .line_chart_ten_years{

  stroke-width: 3px;
  stroke: red;
  fill: none;

}


.uncertainty {

    fill: lightgray;
    stroke: none;
}


.tooltip{
  position: absolute;
  width: auto;
  height: auto;
  padding: 10px;
  font-size: 11px sans-serif;
  border: 1px solid black;
  background: lightsteelblue;
  border-radius: 8px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  display: none;
}



.unselected_circle{
   opacity: 0;
}

.selected_circle{
  opacity: 0.5;
  fill: red;

}

#dropdown{
  margin: auto;
}

/*LEGENDS*/

.legend {
  fill: #fff;
  stroke: #000;
  stroke-width: 0.8px;
}

text.legend {
  
  fill: #000;
  stroke: #000;
  font-size: 12px;
  alignment-baseline: central;

}

.legend .line_chart_annual {
  stroke-width: 2px;
}

.legend .line_chart_ten_years {
  stroke-width: 3px;
}



/* END TAB MENU LINECHART */