
/* MAP */

#svg-map {
  border: 0.0px solid black;
  padding: 0px;
}

#div-map {
  align-content: center;
}

.btn {
  fill: rgb(202, 202, 202);
  stroke: black;
  stroke-width: 0.8;
}

.btn:hover {
  fill: rgb(243, 243, 243);
}

.background {
  fill: #e4e1d43b;
}

.background_globe {
  fill: #e4e1d4;
  stroke: black;
  stroke-width: 0.3;
}

.content {
  margin: auto;
  width: 70%;
  padding: 10px;
  align-items: center;
  align-content: center;
  left: 50%;
  right: 50%;
}

.country {
  stroke: #000000;
  stroke-width: 0.5px;
  fill: #999999;
}

.highlighted_country {
  stroke: #00ff00;
  stroke: #ffffff;
}

.selected_country {
  stroke: red;
}

.grat_2 {
  fill: none;
  stroke: #777;
  stroke-width: 0.3px;
  stroke-opacity: 1;
}

.col_wrapper {
  float: left;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.row_wrapper {
  float: left;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

span {
  padding: 1em;
}

.handle:focus{
  stroke: #777;
  fill: #ececec
}

.parameter-value text{
  font-size: 30px;
}

.col-sm-2 {
  font-size: 30px;
}

.label {
  font-size: 25px;
}

.tick text{
  opacity: 1;
  font-size: 15px;
}
#dropDownMenu{

  border-bottom: 1px solid lightgray;
  padding: 0px;
}

input#selectCountryMenu {
     /*position:absolute;*/
     
     top:0px;
     left:0px;
     width:200px;
     padding:1px;
     font-size:12px;
     border: none;
     font-size: 100%;
     padding: 5px;
 }

 input#selectCountryMenu:focus {
  outline:none;
  font-size: 100%;
}

.tooltip-map{
  position: absolute;
  width: auto;
  height: auto;
  padding: 5px;
  text-align: center;
  font-size: 11px;
  font-family: sans-serif;
  border: 1px solid gray;
  background: white;
  border-radius: 8px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  display: none;
  opacity: 0.95;
}

.tooltip-name{
  font-size: 20px;
  font-weight: bold;
}

.tooltip-anomaly{
  font-size: 16px;
  text-align: center;
}

text#label-legend{
  font-size: 13px;
  text-align: center;
  font-weight: bold;
}

/* TAB MENU LINECHART */



/*--------------------------------- TAB MENU STYLE -------------------------------------*/


#tab_menu{

  float: center;
  width: 900px;
  height: 500px;
  margin: auto;
  margin-top: 50px;
 

}

.tab {
  
  overflow: hidden;

 
}

#dropdown_tab{
  margin-top: 20px;
  margin-left: 45%;
}


/* Style the buttons inside the tab */
.tablinks {
  
  background-color: white;
  color: black;
  position: relative;
  border: solid lightgrey 1px;
  border-bottom: none;
  border-radius: 11px 30px 0 0;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  font-family: sans-serif;
  font-weight: bold;
  display: block;
  float: left;
 

}
.tablinks:focus {outline:0;}
/* Change background color of buttons on hover */
.tablinks:hover {
  background-color: #91AAC5;
  color: white;
}

/* Create an active/current tablink class */
.tablinks.active {
  background-color: #91AAC5;
  color: white;
  z-index: 1;
}

#tab_stripe{
  
  right: 2%; 
  
}

/* Style the tab content */
.tabcontent {
  border: 1px solid #ccc;
  border-radius: 0px 20px 20px;
  width: auto;
}

#stripechart{
  display: none;
}

/*--------------------------------- END TAB MENU STYLE -------------------------------------*/


/*------------------- CHART STYLE -------------------------------*/

.graphics{

  width: 900px;
  height: 500px;
  margin: 12px;
  
}

.country_t{
  
  text-align: center;
  color: #111; font-family: 'Open Sans Condensed', sans-serif;
  font-size: 50px; font-weight: 700;
  line-height: 64px; 
  margin: 0 0 0; 
  padding: 20px 30px;
  color: black;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
 
}


.graphics .line_chart_annual{

  stroke-width: 1px;
  stroke: steelblue;
  fill: none;

}

.graphics .line_chart_ten_years{

  stroke-width: 2px;
  stroke: red;
  fill: none;

}

.graphics .baselines{

  stroke-width: 1.5px;
  stroke: black;
  stroke-dasharray: 4px;
  fill: none;
}

#linechart .tooltip-map{
  text-align: left;
}

.uncertainty {

    fill: lightgray;
    stroke: none;
}


/* -----------------------------END CHART STYLE--------------------------------------*/

/*Dropdown menu -> to remove at the end, only for testing*/
#dropdown{
  margin: auto;
}

/*--------------- LEGEND STYLE -------------------------------------------*/

.legend {

  padding: 3px;
  fill: #fff;
  
}

#legend-square{
  
  stroke: #000;
  stroke-width: 1px;

}

text.legend {
  
  fill: #000;
  font-size: 11px;
  alignment-baseline: central;

}

.legend .line_chart_annual {
  stroke-width: 2px;
}

.legend .line_chart_ten_years {
  stroke-width: 3px;
}

.legend .baselines{
  stroke-width: 2px;
}

/* END TAB MENU LINECHART */




/*-----------------------------------START STYLE TABLE-----------------------------------*/

#table_container{

  width: 900px;
  height: 500px;
  border: 2px #000 dashed;
  margin: auto;
  margin-top: 30px;

}


.mean_rate{
    margin: auto;
    width: 90%;
    height: 55%;

}


.header_table{
  padding: 15px; 
  background: #2E4053; 
  color: white; 
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  text-transform: uppercase;
}

table{ 
  border-collapse: collapse; 
  background:white;
  border-radius: 8px;
  overflow:hidden;
}

.rows_table{
  font-family: sans-serif;
  transition: background 0.2s ease-in;
  text-align: center;
  color: #2E4053;
 
}


.tbody_table .rows_table:nth-child(even){

  background: #F0F3F4;

}

.tbody_table .rows_table:nth-child(odd){
  background: white;
}

.tbody_table .rows_table:nth-child(odd):hover{

  background: #ffffcc;
}

.tbody_table .rows_table:nth-child(even):hover{
  background: #ffffcc;
}



.start_value_table{
  
  background: #91AAC5;
  color: white;
  font-weight: bold;

  
}

.region_cell{

  border: solid #2E4053 2.5px;
  border-top: none;
  border-bottom: none;
  border-left: none;
  font-weight: bold;
  color: #2E4053;
  
}

.selected_cell{
  border: solid #2E4053 1px;
}

/*---------------------------Hottest-Coldest Year style--------------------------------*/


#line_chart_hottest_coldest{

  border: solid lightgray 1px;
  width: 900px;

}

#hottest_coldest_title{

  text-align: center;
}
#container-h-c{
  border: solid lightgray 1px;
  width: 900px;
  margin: auto;

}


.selected-path{

  stroke-width: 5px;
}
/*---------------------------END Coldest Year style--------------------------------*/